html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    font-family: Poppins;
    margin: 0;
    background-color: #F0F0F0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main";
    grid-gap: 1%;
    box-sizing: border-box;
}

#resume-main-content {
    padding: 2%;
    margin: 0% 20%;
    background-color: white;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1.5fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro-row"
        "experience-row"
        "education-row";
    gap: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

header {
    grid-area: header;
    background-color: #F0F0F0;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

section {
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 0% 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.resume-link {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: color 0.3s ease;
}

.resume-link span {
    display: block;
    transition: transform 0.3s ease;
}

.resume-link::before {
    content: "Клик";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.resume-link:hover span {
    transform: translateY(-100%);
}

.resume-link:hover::before {
    transform: translateY(0);
}

.intro-row {
    grid-area: intro-row;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "profile intro languages";
    gap: 30px;
}

.experience-row {
    grid-area: experience-row;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "experience tools";
    gap: 30px;
}

.education-row {
    grid-area: education-row;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "education interests"
      "education contact";
    gap: 30px;
}

#profile-img {
    grid-area: profile;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.intro {
    grid-area: intro;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
    text-align:left;
    padding: 0 20px;
    font-size: 1.1em;
    position: relative;
}

#greeting {
    font-size: 1.2em;
    color: #333;
    margin-top: 0px;
    position: relative;
    top: 9%;
}

#name{
    font-size: 1.4em;
    position: relative;
    top: 40%;
}

#greeting-position {
    font-size: 1em;
    color: #5C5C5C;
    position: relative;
    top: 35%;
    left: 0%;
}

.languages {
    grid-area: languages;
    aspect-ratio: 2 / 1;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 0 20px;
}

#languages h2 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

.custom-range-text-field {
    width: 70%;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.custom-range-text-field::before {
    content: '';
    display: block;
    height: 100%;
    width: var(--fill-percentage);
    background-color: #28D979;
    border-radius: 3px;
}

.language-list {
    list-style: none;
    padding: 0% 0;
    margin: 0;
}

.flex-spacer {
    flex-grow: 1;
}

.language-list-item {
    display: flex;
    align-items: center ;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: black;
    padding: 1%;
}

li > div.custom-range-text-field {
    margin-left: 15px;
}

.most-recent-job {
    background-color: #28D979;
    border-radius: 15px;
    padding: 3%;
    color: white;
    font-family: Poppins;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.most-recent-job-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.date {
    font-size: 1em;
}

.tag {
    background-color: #7E731266;
    color: #DDF163;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 1em;
}

.most-recent-job-content {
    display: flex;
    justify-content: space-around;
    align-items: top;
    margin-top: 1%;
}

.most-recent-job-list{
    list-style-type:disc;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0.8em;
    font-weight: 300;
}

.most-recent-job-place {
    margin: 0;
    padding: 0;
    width: 46%;
    display: flex;
    flex-direction: column;
}

.job-place {
    margin: 0;
    padding: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#most-recent-job-title {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
}

.job-title {
    margin: 0;
    padding: 0;
    width: 80%;
    font-size: 1.2em;
    font-weight: 400;
}

.most-recent-job-extra{
    font-size: 0.8em;
    font-weight: 300;
}

.job-extra{
    font-size: 1em;
    font-weight: 300;
}

.job-list{
    list-style-type:disc;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0.8em;
    font-weight: 300;
}

.job-list-item {
    list-style-type: disc;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: black;
    line-height: 1.5;
}

.job {
    background-color: white;
    border-radius: 15px;
    padding: 3%;
    color: black;
    font-family: Poppins;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.experience {
    grid-area: experience;
    gap: 10%;
}

.tools {
    grid-area: tools;
    gap: 10%;
}

.design {
    position: relative;
    width: 80%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    left: 10%;
    margin-bottom: 20%;
}

.no-code {
    position: relative;
    width: 80%;
    height: 21%;
    background-color: white;
    border-radius: 10px;
    left: 10%;
    margin-bottom: 20%;
}

.AI {
    position: relative;
    width: 80%;
    height: 21%;
    background-color: white;
    border-radius: 10px;
    left: 10%;
}

.ai-icon{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    text-transform: lowercase;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tools{
    margin: 5%;
    margin-bottom: 20%;
}

.design-icon {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-design-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "figma photoshop"
        "illustrator premiere"
        "notion meet";
    height: 80%;
    width: 80%;
    justify-items: center;
    margin: auto;
    padding-top: 15%;
}

.icons-no-code-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "zapier webflow"
        "framer wordpress";
    height: 80%;
    width: 80%;
    justify-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 10%;
}

.icons-ai-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "gpt copilot"
        "midjourney .";
    height: 80%;
    width: 80%;
    justify-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 10%;
}

#zapier-img{
    grid-area: zapier;
    width: 60%;
    height: auto;
    align-self: center;
}

#gpt-img {
    grid-area: gpt;
    width: 60%;
    height: auto;
    align-self: center;
}

#copilot-img {
    grid-area: copilot;
    width: 60%;
    height: auto;
    align-self: center;
}

#gpt-img {
    grid-area: gpt;
    width: 60%;
    height: auto;
    align-self: center;
}

#midjourney-img {
    grid-area: midjourney;
    width: 60%;
    height: auto;
    align-self: center;
}

#framer-img {
    grid-area: framer;
    width: 50%;
    height: auto;
    align-self: center;
}

#wordpress-img {
    grid-area: webflow;
    width: 60%;
    height: auto;
    align-self: center;
}

#webflow-img {
    grid-area: wordpress;
    width: 60%;
    height: auto;
    align-self: center;
}

#figma-img {
    grid-area: figma;
    width: 40%;
    height: auto;
    align-self: center;
}

#photoshop-img {
    grid-area: photoshop;
    width: 50%;
    height: auto;
    align-self: center;
}

#illustrator-img {
    grid-area: illustrator;
    width: 50%;
    height: auto;
    align-self: center;
}

#premiere-img {
    grid-area: premiere;
    width: 50%;
    height: auto;
    align-self: center;
}

#notion-img {
    grid-area: notion;
    width: 50%;
    height: auto;
    align-self: center;
}

#meet-img {
    grid-area: meet;
    width: 50%;
    height: auto;
    align-self: center;
}

.mvp-education-item {
    background-color: #28D979;
    border-radius: 15px;
    padding: 3%;
    color: white;
    font-family: Poppins;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.education {
    grid-area: education;
}

.education-item {
    background-color: white;
    border-radius: 15px;
    padding: 3%;
    color: black;
    font-family: Poppins;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.education-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "mvp-edu first-edu"
        "second-edu .";
    height: 80%;
    width: 90%;
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

.education-year-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 10px;
    margin-bottom: 20px;
}

.education-heart-icon {
    width: 10%;
    height: auto;
}

.education-place{
    font-weight: 300;
    font-size: 0.8em;
}

.mvp-education-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin: 0;
    font-weight: 100;
    font-size: 0.8em;
    line-height: 1.5em;
}

.education-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin: 0;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #149063;
}

.interests {
}

#interests-id {
    margin-bottom: 35px;
}

.interest {
    display: inline-block;
    background: white;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 0 12px 12px 0;
    font-size: 1em;
    line-height: 1.1;
    white-space: nowrap;
}

.contact {
    grid-area: contact;
    background-color: black;
    color: white;
}

#contact-text-id {
    font-size: 1.5em;
    font-weight: 300;
}

#contact-email-id {
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #45a049;
}

[contenteditable="true"]:focus {
  outline: none;
  border-color: #007bff;
  background-color: #dedede;
  color: #000;
}

@keyframes highlightChange {
  0% { background-color: #c5ffc5; }
  100% { background-color: transparent; }
}

.saved-highlight {
  animation: highlightChange 0.8s ease-out;
}
